#title {
    margin: 0%;
    font-size: 4em;
    padding-left: 20px;
    padding-top: 20px;
}

body {
    margin: 10px 20px;
    background-image: url(../../NYSL\ Website\ Desing\ 3/img/)
}

h2 {
    color: white;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 5px;
}

aside {
    float: left;
    position: relative;
    width: 300px;
    height: 300px;
}

#logo {
    width: 100px;
    float: right;
    clear: right;
    margin-top: -38px;
    margin-right: 50px;
}

#indexNav {
    position: absolute;
    left: 4em;
    top: 2em;
}

#aboutNav {
    position: absolute;
    left: 4em;
    top: 5em;
}

#contactNav {
    position: absolute;
    left: 4em;
    top: 8em;
}

.headerBanner {
    background-image: url("../img/design1_image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.contentTexts {
    margin-top: 5px;
    margin-left: 315px;
}

.contentTitles {
    margin-bottom: 0px;
}